.experience {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid grey;
  padding: 1em;
}

.experience-sec {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  align-self: flex-start;
  gap: 0.5em;
}

@media screen and (max-width: 600px) {
  .experience-sec {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
